@import 'css/reset';
@import 'keyframes.scss';


// font-family: 'Archivo', sans-serif;
// font-family: 'Archivo Black', sans-serif;
body {
    cursor: none;
    position: relative;
}

// Preloader
.preloader {
    background: radial-gradient(circle, rgba(42, 2, 39, 1) 0%, rgba(23, 1, 25, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 100000;
    width: 100%;
    height: 100vh;
    opacity: 1;
    visibility: visible;
    // overflow: hidden;

    // &.done {
    //     transition: .5s height;
    //     height: 0;
    // }

    &.done {
        transition: 2s;
        opacity: 0;
        visibility: hidden;
    }

    .preloader__img_wrapper {
        position: absolute;
        z-index: 2;
        width: 350px;
        height: 370px;
        background-image: url(../img/preloader/preloader_sprite.png);
        background-position: top;
    }

    .load_perc {
        font: 370px 'Archivo Black', sans-serif;
        text-align: center;
        color: rgba(100, 60, 90, 0.2);
    }

    .preloader__text {
        font: bold 14px 'Archivo', sans-serif;
        text-transform: uppercase;
        color: #F9A608;
        width: 80px;
    }
}

// Cursor
.cursor {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #BD0806;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    pointer-events: none;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    -webkit-transition-property: background, -webkit-transform, -webkit-box-shadow;
    transition-property: background, -webkit-transform, -webkit-box-shadow;
    transition-property: background, transform, box-shadow;
    transition-property: background, transform, box-shadow, -webkit-, -webkit-box-shadow;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    box-shadow: 0px 0px 60px 60px rgba(255, 68, 68, 0.09), 0px 0px 80px 80px rgba(255, 66, 66, 0.05), 0px 0px 80px 110px rgba(255, 74, 74, 0.05), 0px 0px 110px 130px rgba(255, 75, 75, 0.05);
    z-index: 10000;
}

.cursor_white {
    transform: scale(2);
    background: #ffff;
    box-shadow: 0px 0px 15px 15px rgba(255, 68, 68, 0.09), 0px 0px 20px 20px rgba(255, 66, 66, 0.05), 0px 0px 20px 25px rgba(255, 74, 74, 0.05), 0px 0px 25px 30px rgba(255, 75, 75, 0.05);
}

.cursor_white_safari {
    width: 26px;
    height: 26px;
    background: #ffff;
    box-shadow: 0px 0px 15px 15px rgba(255, 68, 68, 0.09), 0px 0px 20px 20px rgba(255, 66, 66, 0.05), 0px 0px 20px 25px rgba(255, 74, 74, 0.05), 0px 0px 25px 30px rgba(255, 75, 75, 0.05);
}

.cursor_nav {
    box-shadow: 0px 0px 5px 5px rgba(255, 68, 68, 0.09), 0px 0px 7px 7px rgba(255, 66, 66, 0.05);
    -webkit-transform: scale(5) translate(30%, 30%);
    transform: scale(5) translate(30%, 30%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.cursor_nav_safari {
    box-shadow: 0px 0px 25px 25px rgba(255, 68, 68, 0.09), 0px 0px 37px 37px rgba(255, 66, 66, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
}

.cursor_text {
    font: bold 3px 'Archivo', sans-serif;
    text-transform: uppercase;
    color: #ffff;
    -webkit-transform: scale(0.7) translate(2%, -15%);
    transform: scale(0.7) translate(2%, -15%);
}

a {
    cursor: none;
}

// Dark BG Layer
.dark-bg {
    height: 100%;
    width: 100%;
    position: absolute;
    background: #170119;
    opacity: 0;
    pointer-events: none;
}

.container {
    max-width: 1330px;
    margin: auto;
}

.head__block {
    padding-top: 32px;
    display: flex;
    justify-content: space-between;

    .logo {
        padding: 8px;
    }

    nav {
        align-self: center;
        display: flex;

        a {
            font: bold 12px 'Archivo', sans-serif;
            text-decoration: none;
            text-transform: uppercase;
            line-height: 9px;
            color: #FFEFF6;
            align-self: center;
            margin-right: 10px;
            padding: 12px 10px;
        }

        .nav__menu {
            border: none;
            background: transparent;
            display: grid;
            padding: 0;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            grid-row-gap: 2px;
            grid-column-gap: 2px;
            align-self: center;

            .menu__circle {
                width: 8px;
                height: 8px;
                border-radius: 100%;
                background: linear-gradient(0deg, rgba(253, 81, 45, 1) 0%, rgba(203, 56, 37, 1) 80%);
            }
        }
    }

    // Nav Odd
    .without-circle {
        padding-right: 18px;

        .nav__link {
            margin-right: 28px;
        }
    }
}





.main {
    background: radial-gradient(48.18% 24.84% at 50% 50%, #2A0227 0%, #170119 100%);
    position: sticky;
    top: 0;
    left: 0;

    .container {
        position: relative;
    }

    .main__content {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title__wrapper {
            position: relative;
            transform-style: preserve-3d;
            z-index: 5;
            margin-top: 190px;


            .main__title_text {
                font: 170px 'Archivo Black', sans-serif;
                text-transform: uppercase;
                color: #FFEFF6;
                line-height: 185px;
                z-index: 2;
                text-align: center;
                position: relative;
                transform-style: preserve-3d;
                transform: translateZ(30px);
            }

            img {
                position: absolute;
                left: 50%;
                top: 30px;
                transform: translateX(-50%) translateZ(40px);
                z-index: inherit;
                transform-style: preserve-3d;
            }
        }

        span:first-of-type {
            margin-top: 221px;
            font: 14px 'Archivo', sans-serif;
            line-height: 15px;
            color: #643C5A;
        }

        .main__counter {
            margin-top: 10px;
            font: bold 30px 'Archivo', sans-serif;
            color: #F6F6F6;
            line-height: 33px;
        }

        span:last-of-type {
            margin-top: 10px;
            font: 14px 'Archivo', sans-serif;
            line-height: 15px;
            text-transform: uppercase;
            color: #F6F6F6;
            padding-bottom: 54px;
        }
    }

    // Images Animations

    .main__img {
        position: absolute;
        pointer-events: none;
        z-index: 1;
    }

    .main__img_big-light {
        top: 200px;
        left: 110px;
        animation: big-light 9s ease infinite;
    }

    .main__img_headphone {
        top: 110px;
        left: 180px;
        animation: headphone 10s linear infinite alternate;
    }

    .main__img_small-torus {
        top: 120px;
        left: 680px;
        animation: small-torus 10s linear infinite;
    }

    .main__img_youtube {
        top: 0;
        right: 4%;
        animation: youtube 12s linear infinite;
    }

    .main__img_camera {
        top: 440px;
        left: 50px;
        animation: camera 8s linear infinite;
    }

    .main__img_note {
        top: 650px;
        left: 280px;
        animation: note 8s linear infinite;
    }

    .main__img_heart {
        top: 585px;
        left: 830px;
        animation: heart 8s linear infinite;
    }

    .main__img_claqueta {
        top: 400px;
        right: 65px;
        animation: claqueta 8s linear infinite;
    }

    .main__img_torus {
        bottom: 100px;
        right: 45px;
        animation: torus 9s linear infinite;
    }
}

// Section Clients List
.section {
    background: #FFECEE;
    position: relative;
    z-index: 30;

    .head__block {
        position: sticky;
        top: 0;
        z-index: 2;
    }

    .nav__link {
        color: #161415;
    }

    .nav__menu_wrapper {
        padding: 18px;
        background: #ffff;
        border-radius: 50%;
    }

    .section__content {
        display: flex;
        position: relative;

        .section__text_wrapper {
            margin-top: 55px;
            position: sticky;
            top: 141px;
            height: 100%;

            .section__title {
                font: 40px 'Archivo Black', sans-serif;
                line-height: 40px;
                color: #383030;
                text-transform: uppercase;
                max-width: 194px;
                padding-bottom: 22px;
            }

            .section__text {
                font: 16px 'Archivo', sans-serif;
                line-height: 26px;
                opacity: 0.5;
                color: #643C5A;
                padding-bottom: 23px;
                max-width: 323px;
            }

            .section__link {
                font: 12px 'Archivo', sans-serif;
                line-height: 26px;
                text-transform: uppercase;
                color: #D2132A;
            }
        }

        .clients-list {
            margin-left: 130px;
            display: flex;
            z-index: 2;
            position: relative;

            .clients-list__wrapper:not(:first-of-type) {
                margin-left: 30px;
            }

            .clients-list__wrapper:nth-child(even) {
                margin-top: 45px;
            }

            .clients-list__cart {
                padding-bottom: 75px;
                display: flex;
                flex-direction: column;

                .cart__title {
                    margin-top: 10px;
                    color: #383030;
                    font: 16px 'Archivo', sans-serif;
                    line-height: 17px;
                }
            }

            .clients-list__img {
                width: auto;
            }

            .clients-img__wrapper {
                position: relative;
            }

            .clients-img__wrapper:hover .clients-cart_hover {
                opacity: 1;
                transition: opacity 0.4s ease;
            }

            // Cart Hover
            .clients-cart_hover {
                opacity: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                width: 100%;
                height: 100%;
                position: absolute;
                transition: opacity 0.4s ease;
                // display: none;
                top: 0;
                border-radius: 5px;
                background: linear-gradient(128deg, rgba(221, 4, 31, 1) 0%, rgba(177, 2, 23, 1) 100%);
            }

            .clients-hover__title {
                text-transform: uppercase;
                font: 12px 'Archivo Black', sans-serif;
                color: #ffff;
                letter-spacing: 0.428571px;
                line-height: 17px;
                max-width: 150px;
                text-align: center;
                z-index: 1;
            }

            .clients-hover__text {
                font: 20px 'Archivo Black', sans-serif;
                color: #ffff;
                letter-spacing: 0.714286px;
                z-index: 1;
                transform: translateY(-50%);
            }

            .clients-hover__img {
                position: absolute;
                top: 50%;
                transform: translateY(-45%);
            }

            .clients-hover__link {
                font: 12px 'Archivo', sans-serif;
                color: #ffff;

                .fa-arrow-up {
                    margin-left: 4px;
                    transform: rotate(49deg);
                }
            }

        }

        // Section Animated Images
        .section__img_wrapper {
            position: absolute;
            width: 100%;
            height: 100%;
            pointer-events: none;
        }

        .section__img_wrapper:first-of-type {
            top: 30%;
            right: 15%;
        }

        .section__img {
            position: sticky;
            z-index: 3;
        }

        .section__img_youtube {
            left: 60%;
            top: 13%;
        }

        .section__img_torus {
            top: 13%;
            left: 44%;
        }

        .section__img_sphere {
            left: 28%;
            top: 80%;
            position: absolute;
        }
    }
}

// Work List
.work-list {
    background: radial-gradient(48.18% 24.84% at 50% 50%, #2A0227 0%, #170119 100%);
    position: sticky;
    top: 0;
    z-index: 31;

    .work-list__title {
        font: 40px 'Archivo Black', sans-serif;
        color: #ffff;
        text-transform: uppercase;
        margin-top: 125px;
    }

    .work-list__content {
        display: flex;
        margin-top: 50px;
        padding-bottom: 160px;

        .work-list__buttons {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            row-gap: 8px;
            column-gap: 8px;

            .work-list__img-wrapper {
                border-radius: 12px;
                width: 173px;
                height: 173px;
            }

            .work-list__img-wrapper:hover .wl_background {
                background: linear-gradient(318.23deg, #B10217 8.31%, #DD041F 69.98%);
            }

            .wl_background {
                width: 100%;
                height: 100%;
                background: rgba(100, 60, 90, 0.2);
                border-radius: 12px;
                position: relative;
                z-index: -1;
            }

            .wl1 {
                background: url(../img/work-list/sprite/wl1_sprite.png);
                background-position: 0 -173px;
            }

            .wl2 {
                background: url(../img/work-list/sprite/wl2_sprite.png);
            }

            .wl3 {
                background: url(../img/work-list/sprite/wl3_sprite.png);
            }

            .wl4 {
                background: url(../img/work-list/sprite/wl4_sprite.png);
            }

            .wl5 {
                background: url(../img/work-list/sprite/wl5_sprite.png);
            }

            .wl6 {
                background: url(../img/work-list/sprite/wl6_sprite.png);
            }

            .button_red {
                background: linear-gradient(318.23deg, #B10217 8.31%, #DD041F 69.98%);
            }

        }

        .work-list__category {
            position: relative;
            margin-left: 250px;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                position: absolute;
                // left: 5px;
                bottom: 0px;
            }

            .category__title {
                font: bold 36px 'Archivo', sans-serif;
                line-height: 46px;
                color: #ffff;
                text-align: center;
                max-width: 362px;
                margin-top: 100px;
                z-index: 1;
            }

            .category__link {
                text-decoration: none;
                color: #D2132A;
                font: 12px 'Archivo Black', sans-serif;
                text-transform: uppercase;
                line-height: 26px;
                margin-top: 18px;
                z-index: 1;
            }

            // Work List Lights
            .work-list__light {
                position: absolute;
                border-radius: 100%;
            }

            .light-tl {
                width: 22px;
                height: 22px;
                filter: blur(10px);
                background: linear-gradient(0deg, rgba(253, 81, 45, 1) 0%, rgba(203, 56, 37, 1) 80%);
                left: 10%;
            }

            .light-tr {
                width: 15px;
                height: 15px;
                filter: blur(5px);
                background: linear-gradient(0deg, rgba(253, 81, 45, 1) 0%, rgba(203, 56, 37, 1) 80%);
                left: 90%;
                top: 15%;
            }

            .light-bl {
                width: 57px;
                height: 57px;
                filter: blur(12px);
                background: rgba(100, 60, 90, 0.8);
                top: 60%;
                left: 10%;
            }

            .light-tl_active {
                animation: light-tl 0.5s ease-in-out forwards;
            }

            .light-tr_active {
                animation: light-tr 0.5s ease-in-out forwards;
            }

            .light-bl_active {
                animation: light-bl 0.5s ease-in-out forwards;
            }

        }
    }
}

// Team

.team {
    background-color: #FFECEE;
    padding-bottom: 85px;
    position: relative;
    z-index: 32;

    .head__block {
        position: sticky;
        top: 0;

        .nav__link {
            color: #161415;
        }

        .nav__menu_wrapper {
            padding: 18px;
            background: #ffff;
            border-radius: 50%;
        }
    }

    .team__content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .team__title {
            font: 40px 'Archivo Black', sans-serif;
            text-transform: uppercase;
            line-height: 40px;
            color: #383030;
        }

        .team__carousel {
            display: flex;
            align-items: center;
            margin-top: 55px;

            button {
                font: 12px 'Archivo', sans-serif;
                text-transform: uppercase;
                line-height: 12px;
                color: #161415;
                background: none;
                padding: 32px 22px;
                border: none;
                border-radius: 50%;
                cursor: none;
            }

            button:hover {
                transition: 0.3s;
                color: #FFFFFF;
                background: #D2132A;
            }

            .btn_prev {
                margin-right: 30px;
            }

            .btn_next {
                margin-left: 30px;
            }

            .carousel_wrapper {
                overflow: hidden;
                display: flex;
                justify-content: space-between;
                position: relative;
                transition: .2s;
                width: 1103px;
                height: 335px;

                .carousel__cart {
                    margin: 0 7px;
                    position: relative;

                    .carousel__cart_bg {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 8px;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        background: linear-gradient(128deg, rgba(177, 2, 23, 0.8) 0%, rgba(221, 4, 31, 0.8) 100%);
                        display: none;

                        h4 {
                            font: 12px 'Archivo Black', sans-serif;
                            line-height: 17px;
                            letter-spacing: 0.4px;
                            text-transform: uppercase;
                            color: #FFFFFF;
                        }

                        span {
                            font: 12px 'Archivo', sans-serif;
                            color: #FFFFFF;
                            margin-top: 10px;
                        }

                    }
                }

                .carousel__cart:hover .carousel__cart_bg {
                    display: flex;
                }
            }
        }
    }

}

// Footer
.footer {
    background: #170119;
    position: relative;
    z-index: 32;

    .footer_wrapper {
        padding: 50px 0;
        text-align: center;
        position: relative;

        a {
            font: bold 32px 'Archivo', sans-serif;
            line-height: 46px;
            color: #FFFFFF;
            text-decoration: none;
            z-index: 2;
            position: relative;

            .fa-arrow-up {
                transform: rotate(49deg);
            }
        }

        .footer_active {
            height: 100%;
            background: #B10217;
            z-index: 1;
            position: absolute;
            top: 0;
        }
    }

    .footer_wrapper:hover .footer_active {
        width: 1px;
        transition: 1s;
    }

    .footer_wrapper:hover .fa-arrow-up {
        transform: rotate(90deg);
        transition: 0.7s;

    }

    span {
        font: 14px 'Archivo', sans-serif;
        line-height: 26px;
        color: #FFFFFF;
    }
}


@import 'media.scss';